<aside class="container text-center col-lg-3  col-md-9 col-sm-9  d-flex flex-column align-items-center custom-aside">

    <% const currentPokemon = currentUser.pokemons[currentUser.currentPokemon]; %>
    <h2 class="h1">Huidige Pokémon</h2>
    <a href="<%= currentPokemon ? "/pokemonDetail?id=" + currentPokemon.id : "#" %>"><img class="img-fluid rounded-circl mt-3" src="<%= currentPokemon ? currentPokemon.image : "/images/empty.png" %>" alt="huidige pokemon" width="150px"></a>
    <h3 class="mt-2"><%= currentPokemon ? currentPokemon.name : "GEEN POKEMON" %></h3>
    <div class="container custom-paside">
    <table class="table caption-top  mx-auto  table-sm table-hover">
        <caption class="text-center"><h3 class="fs-5 mt-3">Statistieken</h3></caption>
        <tbody>
            <tr>
                <th id="asideTH" class="ps-4" style="text-align: start;">HP</th>
                <td style="text-align: start;" ><%= currentPokemon ? currentPokemon.maxHP : "???" %>
                </td>
            </tr>
            <tr>
                <th id="asideTH" class="ps-4"  style="text-align: start;">Aanval</th>
                <td style="text-align: start;"><%= currentPokemon ? currentPokemon.attack : "???" %>
                </td>
            </tr>
            <tr>
                <th id="asideTH" class="ps-4"  style="text-align: start;">Verdediging</th>
                <td style="text-align: start;" ><%= currentPokemon ? currentPokemon.defence : "???" %>
                </td>
            </tr>
        </tbody>
    </table>
    </div>
    <% if(myPokemonPagina) {%>
    <div class="align-items-start mt-4">
        <label for="">Bekijk alle pokémon</label><br/>
        <a href="/mypokemon?owned=<%= !(viewAllPokemon) %>"><input id="myPokemonSelection" class="form-check-input bg-light" type="checkbox" name="owned" <%= viewAllPokemon ? "checked" : "" %> disabled/></a>
    </div>
   <% } %>
    </aside>