<article class="card mb-3 col-12 col-sm6" style="max-width: 540px;">
    <a class="row g-0" href="<%= link %>">
      <div class="col-md-4">
        <img src="<%= img %>" class="img-fluid rounded-start" alt="<%= alt %>">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title"><%= title %></h5>
          <p class="card-text"><%= text %></p>
        </div>
      </div>
    </a>
  </article>