<% const ownedPokemon = currentUser.pokemons.find(x => x.id == Pokemon.id) %>
<div class="col-12 col-sm-12 col-md-12 col-lg-5 col-xl-5 mt-5">
    <a href="/pokemonDetail?id=<%= Pokemon.id %>"><img id="myPokemonList"
            src="<%= Pokemon.image %>"
            , class="<%= ownedPokemon ? "" : "opacity-50" %>" alt="Pokemon Image"></a>

    <table id="pokemonDetailTables" class="table table-hover">
        <tbody>
            <tr>
                <th>Nummer</th>
                <td><%= Pokemon.id %></td>
            </tr>
            <tr>
                <th>Naam</th>
                <td class="d-flex d-flex justify-content-between"><%= PokemonList.find(x => x.id == Pokemon.id).name %>
                </td>
            </tr>
            <% if(ownedPokemon) { %>
                <% if(ownedPokemon.name.length > 0) { %>
            <tr>
                <th>Bijnaam</th>
                <td class="d-flex d-flex justify-content-between"><%= ownedPokemon.name %>
            </tr>
              <%  } %>
            <tr>
                <td>Kies als huidige Pokémon</td>
                <td>
                <a href="/mypokemon?owned=<%= viewAllPokemon %>&newCurrentPokemon=<%= Pokemon.id %>">
                    <input id="myPokemonSelection" class="form-check-input" type="checkbox" <%= 
                        currentUser.currentPokemon !== undefined ? 
                            ownedPokemon.id == currentUser.pokemons[currentUser.currentPokemon].id ? "checked" : ""
                         : "" %> disabled/>
                </a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>

</div>