<%- include("partials/header",{title: "Home", secondRow:true}); %>
<div class="row">
<main class="container d-flex flex-wrap d-flex justify-content-evenly col-9 col-md-9">


    <%- include("partials/card",{title: "Wie is deze pokemon", text: "Raad welke van de 800+ pokemon deze vage silhouet is.", img: "/images/page_raden.jpg", alt: "Wie is deze pokemon", link: "/whosthatpokemon"}) %>
    <%- include("partials/card",{title: "Pokemon vechten", text: "Vecht het uit in een epische Pokémon battle.", img: "/images/page_battle.jpg", alt: "Pokemon vechten", link: "/pokemonBattle"}) %>
    <%- include("partials/card",{title: "Mijn Pokemon", text: "Toon je Pokémon collectie.", img: "/images/page_bekijken.jpg", alt: "Mijn Pokemon", link: "/myPokemon"}) %>
    <%- include("partials/card",{title: "Pokemon vergelijken", text: "Vergelijk de Pokémon statistieken.", img: "/images/page_vergelijken.jpg", alt: "Pokemon vergelijken", link: "/pokemonvergelijken"}) %>



</main>
<%- include("partials/aside"); %>
</div>
<%- include("partials/footer"); %>
