<%- include("partials/header",{title: "Home", secondRow:true}); %>
<div class="row">
<main class="container col-9">
<h1 class="text-center p-3">Home</h1>
<div class="container d-flex flex-wrap d-flex justify-content-evenly">
    <%- include("partials/card",{title: "Wie is deze pokémon", text: "Test je Pokémon-kennis en probeer te raden welke van de meer dan 800 Pokémon verborgen is achter dit mysterieuze silhouet.", img: "/images/page_raden.jpg", alt: "Wie is deze pokemon", link: "/whosthatpokemon"}) %>
    <%- include("partials/card",{title: "Pokémon battle", text: "Betreed de arena voor epische Pokémon-gevechten! Laat zien wie de sterkste is.", img: "/images/page_battle.jpg", alt: "Pokemon vechten", link: "/pokemonBattle"}) %>
    <%- include("partials/card",{title: "Mijn Pokémon", text: "Laat de wereld jouw Pokémon-verzameling zien. Dit is jouw kans om te pronken met de Pokémon die je hebt gevangen en getraind.", img: "/images/page_bekijken.jpg", alt: "Mijn Pokemon", link: "/myPokemon"}) %>
    <%- include("partials/card",{title: "Pokémon vergelijken", text: "Gebruik onze Pokémon-vergelijkingshulpmiddelen om statistieken, krachten en zwaktes te analyseren.", img: "/images/page_vergelijken.jpg", alt: "Pokemon vergelijken", link: "/pokemonvergelijken"}) %>
</div>
    
</main>
<%- include("partials/aside",{myPokemonPagina: false}); %>
</div>
<%- include("partials/footer"); %>


<!-- BRONNEN -->
<!-- Pokémon afbeeldingen -->
<!-- https://pokeapi.co/ -->

<!-- Eevee logo -->
<!-- https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f19a8dbd-b9e4-4ce8-9726-5a1412453ce7/dabheg6-f7233d4d-8ef7-4611-bed8-b65ad9b93060.png/v1/fit/w_710,h_710/minimalist_eevee_icon__free_to_use__by_jedflah_dabheg6-375w-2x.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzEwIiwicGF0aCI6IlwvZlwvZjE5YThkYmQtYjllNC00Y2U4LTk3MjYtNWExNDEyNDUzY2U3XC9kYWJoZWc2LWY3MjMzZDRkLThlZjctNDYxMS1iZWQ4LWI2NWFkOWI5MzA2MC5wbmciLCJ3aWR0aCI6Ijw9NzEwIn1dXSwiYXVkIjpbInVybjpzZXJ2aWNlOmltYWdlLm9wZXJhdGlvbnMiXX0.4ylWEAkbbiP8lCkEKJrbsnwKv6-WE0Gi8016xXbgXog -->

<!-- Pagina afbeeldingen -->
<!-- https://www.reddit.com/r/pokemon/comments/420xiv/whos_that_pokemon_1920x1080_hd_template_i_just/ -->
<!-- https://nintendosoup.com/wp-content/uploads/2020/04/pokemon-mystery-dungeon-dx-celebrate-apr102020-1038x576.jpg -->
<!-- https://static1.dualshockersimages.com/wordpress/wp-content/uploads/2020/01/Pokemon_MD_RT_DX_artwork04.png?q=50&fit=contain&w=1140&h=570&dpr=1.5 -->
<!-- https://www.godisageek.com/wp-content/uploads/Pokemon-Mystery-Dungeon-Rescue-Team-DX-Guide-7-1024x576.jpg -->

<!-- Pokémon placeholder -->
<!-- https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/i/f720bb6e-b303-4877-bffb-d61df0ab183f/d3b98cf-4fc5c76b-2a99-47fc-98b6-d7d4ee8d9d9f.png/v1/fill/w_256,h_256,q_80,strp/pokeball_desktop_icon_by_beccerberry_d3b98cf-fullview.jpg -->