<%- include("partials/header"); %>
<div class="row">
<main class="container d-flex flex-wrap d-flex justify-content-evenly col-9 col-md-9">


    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>



</main>

<aside class=" container text-center col-3 col-md-3 ">

<h2>Huidige Pokemon</h2>
<img src="/images/fiffa.jpg" alt="">



</aside>
</div>
<%- include("partials/footer"); %>
