<%- include("partials/header",{title: "Home", secondRow:true}); %>
<div class="row">
<main class="container d-flex flex-wrap d-flex justify-content-evenly col-9 col-md-9">


    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
    <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>



</main>
<%- include("partials/aside"); %>
</div>
<%- include("partials/footer"); %>
