<%- include("partials/header",{title: "Home", secondRow:true}); %>
<div class="row">
<main class="container col-9">
<h1 class="text-center p-3">Eevee Home Pagina</h1>
<div class="container d-flex flex-wrap d-flex justify-content-evenly">
    <%- include("partials/card",{title: "Wie is deze pokémon", text: "Test je Pokémon-kennis en probeer te raden welke van de meer dan 800 Pokémon verborgen is achter dit mysterieuze silhouet.", img: "/images/page_raden.jpg", alt: "Wie is deze pokemon", link: "/whosthatpokemon"}) %>
    <%- include("partials/card",{title: "Pokémon battle", text: "Betreed de arena voor epische Pokémon-gevechten! Laat zien wie de sterkste is.", img: "/images/page_battle.jpg", alt: "Pokemon vechten", link: "/pokemonBattle"}) %>
    <%- include("partials/card",{title: "Mijn Pokémon", text: "Laat de wereld jouw Pokémon-verzameling zien. Dit is jouw kans om te pronken met de Pokémon die je hebt gevangen en getraind.", img: "/images/page_bekijken.jpg", alt: "Mijn Pokemon", link: "/myPokemon"}) %>
    <%- include("partials/card",{title: "Pokémon vergelijken", text: "Gebruik onze Pokémon-vergelijkingshulpmiddelen om statistieken, krachten en zwaktes te analyseren.", img: "/images/page_vergelijken.jpg", alt: "Pokemon vergelijken", link: "/pokemonvergelijken"}) %>
</div>
    
</main>
<%- include("partials/aside",{myPokemonPagina: false}); %>
</div>
<%- include("partials/footer"); %>
