<%- include("partials/header",{title: "Home", secondRow:true}); %>
<div class="row">
<main class="container d-flex flex-wrap d-flex justify-content-evenly col-9 col-md-9">


    <%- include("partials/card",{title: "Wie is die pokemon", text: "Raad welke van de 1000+ pokemon deze vage silhouet is.", img: "/images/fiffa.jpg", alt: "Wie is die pokemon", link: "/whosthatpokemon"}) %>
    <%- include("partials/card",{title: "Pokemon vechten", text: "Laat de pokemon vechten want dierenrechten zijn hier heel anders.", img: "/images/fiffa.jpg", alt: "Pokemon vechten", link: "/pokemonBattle"}) %>
    <%- include("partials/card",{title: "Mijn Pokemon", text: "Toon je colectie van huisdieren de je toch nooit eten geeft in game.", img: "/images/fiffa.jpg", alt: "Mijn Pokemon", link: "/myPokemon"}) %>
    <%- include("partials/card",{title: "Pokemon vergelijken", text: "Vergelijk je pokemons statistieken.", img: "/images/fiffa.jpg", alt: "Pokemon vergelijken", link: "/pokemonvergelijken"}) %>



</main>
<%- include("partials/aside"); %>
</div>
<%- include("partials/footer"); %>
