<%- include("partials/header",{title: "", secondRow:false}); %>
  <main class="container-fluid col-12">

  <h1 class="text-center p-3">Overzichtspagina</h1>

    <section class="container d-flex flex-wrap justify-content-evenly">

      <%- include("partials/card",{title: "Eevee", text: "Ontdek de magie van avontuur en vriendschap! Welkom in de betoverende wereld van Pokémon.", img: "/images/proj_eevee.jpg", alt: "eevee", link: "/home"}) %>
      <%- include("partials/card",{title: "Fifa", text: "Waan je in de wereld van Voetbal! Stap in de voetbalwereld en ervaar de spanning, de sensatie en het spektakel van FIFA.", img: "/images/proj_fifa.jpg", alt: "fifa", link: "#"}) %>
      <%- include("partials/card",{title: "Magic The Gathering", text: "Stap in de verbazingwekkende wereld van Magic: The Gathering, waar strategie, spanning en betovering samenkomen in één episch kaartspel!", img: "/images/proj_mtg.jpg", alt: "MTG", link: "#"}) %>
      <%- include("partials/card",{title: "Lord Of The Rings", text: "Kom terecht in een epos van avontuur en magie! Welkom in de betoverende wereld van The Lord of the Rings.", img: "/images/proj_lotr.jpg", alt: "LOTR", link: "#"}) %>
      <%- include("partials/card",{title: "Lego Masters", text: "Laat je creativiteit stralen! Ben je klaar om een wereld van eindeloze bouwmogelijkheden te betreden?", img: "/images/proj_lego.jpg", alt: "lego_masters", link: "#"}) %>
      <%- include("partials/card",{title: "Fortnite", text: "De ultieme Battle Royale ervaring! Welkom in de meest explosieve, spannende en vermakelijke wereld van gaming - Fortnite!", img: "/images/proj_fortnite.jpg", alt: "fortnite", link: "#"}) %>

    </section>
  </main>
  <%- include("partials/footer"); %>
 
  
  