<%- include("partials/header"); %>
  <main class="container-fluid col-12">

  <h1 class="text-center p-3">Overzichtspagina</h1>

    <section class="container d-flex flex-wrap d-flex justify-content-evenly">

      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
      <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>

    </section>
  </main>
  <%- include("partials/footer"); %>