<%- include("partials/header",{title: "", secondRow:false}); %>
  <main class="container-fluid col-12">

  <h1 class="text-center p-3">Projecten</h1>

    <section class="container d-flex flex-wrap justify-content-evenly">

      <%- include("partials/card",{title: "Eevee", text: "Ontdek de magie van avontuur en vriendschap! Welkom in de betoverende wereld van Pokémon.", img: "/images/proj_eevee.jpg", alt: "eevee", link: "/home"}) %>
      <%- include("partials/card",{title: "Fifa", text: "Waan je in de wereld van Voetbal! Stap in de voetbalwereld en ervaar de spanning, de sensatie en het spektakel van FIFA.", img: "/images/proj_fifa.jpg", alt: "fifa", link: "/noAccess"}) %>
      <%- include("partials/card",{title: "Magic The Gathering", text: "Stap in de verbazingwekkende wereld van Magic: The Gathering, waar strategie, spanning en betovering samenkomen in één episch kaartspel!", img: "/images/proj_mtg.jpg", alt: "MTG", link: "/noAccess"}) %>
      <%- include("partials/card",{title: "Lord Of The Rings", text: "Kom terecht in een epos van avontuur en magie! Welkom in de betoverende wereld van The Lord of the Rings.", img: "/images/proj_lotr.jpg", alt: "LOTR", link: "/noAccess"}) %>
      <%- include("partials/card",{title: "Lego Masters", text: "Laat je creativiteit stralen! Ben je klaar om een wereld van eindeloze bouwmogelijkheden te betreden?", img: "/images/proj_lego.jpg", alt: "lego_masters", link: "/noAccess"}) %>
      <%- include("partials/card",{title: "Fortnite", text: "De ultieme Battle Royale erconsting! Welkom in de meest explosieve, spannende en vermakelijke wereld van gaming - Fortnite!", img: "/images/proj_fortnite.jpg", alt: "fortnite", link: "/noAccess"}) %>

    </section>
  </main>
  <%- include("partials/footer"); %>
 
  
<!-- BRONNEN -->
<!-- Icons -->
<!-- https://icons.getbootstrap.com/ -->

<!-- Projectafbeeldingen -->
<!-- https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_4/H2x1_NSwitch_PokemonLetsGoEevee_enGB_image1600w.jpg -->
<!-- https://images0.persgroep.net/rcs/qKfQ5QmudxOS97-0Wul6BahlP44/diocontent/235839214/_fitwidth/694/?appId=21791a8992982cd8da851550a453bd7f&quality=0.8&desiredformat=webp -->
<!-- https://cdn.kobo.com/book-images/46840872-4d28-4271-9815-841f1b254469/353/569/90/False/magic-the-gathering-rise-of-the-gatewatch.jpg -->
<!-- https://www.imdb.com/title/tt0120737/ -->
<!-- https://www.rtlbouleconstd.nl/sites/default/files/styles/liggend_breed/public/content/images/2021/06/30/LEGO%20MASTERS.png?itok=yo2X8EVA -->
<!-- https://www.rtlnieuws.nl/sites/default/files/content/images/2019/04/01/Fortnite-battle-royale-BR08_Web_BPLanding_Hero-3840x2160-654d400e12d58c3a97d6e75dc560df6ac46d3ea3.jpg?itok=FYjK-8Du&width=2048&height=1152&impolicy=semi_dynamic -->