<%- include("partials/header",{title: "Pokemon Battle" , secondRow:true }); %>

    <main class="container col-9 col-sm-9 col-md-9 col-xl-9 d-flex justify-content-around">
        <div class="col-10 d-flex flex-wrap justify-content-around ">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h1 class="text-center p-0">Mijn Collectie</h1>

            </div>
            <% if(viewAllPokemon) {
                PokemonList.map(pokemon => { 
                   const owned = currentUser.pokemons.find(x => x.id == pokemon.id); 
                    %>
                    <%- include("partials/myPokemon",{name: pokemon.name, img: pokemon.image, id: pokemon.id, owned:owned}) %>
                <%})
             } else {
                currentUser.pokemons.map(pokemon => { %>
                    <%- include("partials/myPokemon",{name: pokemon.name, img: pokemon.image, id: pokemon.id, owned:true}) %>
                <%})
           } %> 
        </div>

    </main>



    <%- include("partials/aside",{myPokemonPagina: true}); %>
        <%- include("partials/footer"); %>