<%- include("partials/header",{title: "Pokemon Battle" , secondRow:true }); %>

    <main class="container col-9 col-sm-9 col-md-9 col-xl-9 d-flex justify-content-around pt-5git ">
        <div class="col-10 d-flex flex-wrap justify-content-around ">
            <div class="col-12 col-sm-12 col-md-12 col-xl-12">
                <h1 class="text-center p-0">Mijn Pokémon</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-12 col-xl-12 mt-4 d-flex justify-content-end">
                <div class="col-10 col-sm-6 col-md-6 col-xl-4 me-4">
                     <table id="pokemonDetailTables" class="table table-hover">
                    <tbody>
                        <tr>
                            <td>Bekijk ze allemaal</td>
                            <td> <form>
                                <input id="myPokemonSelection" class="form-check-input" type="checkbox" value="" />
                            </form></td>
                        </tr>
                    </tbody>
                </table>
                </div>
               
            </div>
            <%- include("partials/myPokemon",{name: "Ditto",img:"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/132.png",id: 132}) %>
            <%- include("partials/myPokemon",{name: "Eevee",img:"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/133.png",id: 133}) %>
            <%- include("partials/myPokemon",{name: "Vaporeon",img:"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/134.png",id: 134}) %>
            <%- include("partials/myPokemon",{name: "Jolteon",img:"https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/135.png",id: 135}) %>

        </div>

    </main>



    <%- include("partials/aside"); %>
        <%- include("partials/footer"); %>