<%- include("partials/header",{title: "Pokemon vergelijken" , secondRow:true }); %>
    <script src="/js/search.js" defer></script>
    <main class="container flex-column d-flex col-9 col-md-9 col-sm-12 d-grid gap-4">
        <h1 class="mx-auto text-center ">Pokémon vergelijken</h1>
        <form  class="container form-outline mx-auto pt-5 p-sm-1 d-flex justify-content-center flex-row gap-2" method="post" action="/pokemonvergelijken">
        <div class="row-cols-1 row-cols-md-2 d-flex flex-row flex-wrap justify-content-evenly">
            <article class="col-md-9 col-lg-4 col-sm-7 d-flex flex-column">

                <div class="d-flex gap-1">
                    
                        <input type="search" id="form1" class="form-control" placeholder="zoek Pokémon" aria-label="Search" list="pokemonlist" name="name1" value="<%= pokemon1 ? pokemon1 : "" %>"/>
                 
                        <datalist id="pokemonlist">
                            <% PokemonList.map(x=> {%><option key="index">
                                    <%= x.name %>
                                </option>
                                <%}); %>
                        </datalist>

                        <button id="buttonW" type="submit" class=" btn btn-primary buttonForm1" formaction="/pokemonvergelijken" value="button1"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>
              
                </div>

                <% let pokemn1 = PokemonList.find(x => x.name == pokemon1)  %>
                <% let pokemn2 = PokemonList.find(x => x.name == pokemon2)  %>
                <a href="<%= pokemn1 ? `/pokemonCatch?id=${pokemn1.id}` : "#" %>" class="h-50 d-flex justify-content-center"><img src="<%= pokemn1 ? pokemn1.image : "/images/empty.png"  %>" 
                        class="img-fluid mx-auto rounded" alt=""></a>

                <table class="table caption-top mx-auto table table-hover">
                    <caption>
                        <h1>Statistieken</h1>
                    </caption>
                    <tbody>
                        <tr>
                            <th style="text-align: start;">HP</th>
                            <td class="<%= (pokemn1 && pokemn2 && pokemn1.maxHP > pokemn2.maxHP) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.maxHP < pokemn2.maxHP) ? 'text-danger' : '' %>">
                                <%= (pokemn1 && pokemn1.maxHP !== undefined) ? pokemn1.maxHP : '???' %>
                            </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Aanval</th>
                                <td class="<%= (pokemn1 && pokemn2 && pokemn1.attack > pokemn2.attack) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.attack < pokemn2.attack) ? 'text-danger' : '' %>">
                                    <%= (pokemn1 && pokemn1.attack !== undefined) ? pokemn1.attack : '???' %>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Verdediging</th>
                                <td class="<%= (pokemn1 && pokemn2 && pokemn1.defence > pokemn2.defence) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.defence < pokemn2.defence) ? 'text-danger' : '' %>">
                                    <%= (pokemn1 && pokemn1.defence !== undefined) ? pokemn1.defence : '???' %>
                                </td>
                                
                            </tr>
                    </tbody>
                </table>
            </article>
            <article class="col-md-9 col-lg-4 col-sm-7 d-flex flex-column">

                <div class="d-flex gap-1">
                  

                        <input type="search" id="form2" class="form-control" placeholder="zoek Pokémon"
                            aria-label="Search" list="pokemonlist" name="name2" value="<%= pokemon2 ? pokemon2 : "" %>"/>

                        <datalist id="pokemonlist">
                            <% PokemonList.map(x=> {%><option key="index">
                                    <%= x.name %>
                                </option>
                                <%}); %>
                        </datalist>


                        <button id="buttonW" type="submit" class=" btn btn-primary buttonForm2" formaction="/pokemonvergelijken" value="button2"><svg
                                xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-search" viewBox="0 0 16 16">
                                <path
                                    d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg></button>


                 
                </div>

               
                <a href="<%= pokemn2 ? `/pokemonCatch?id=${pokemn2.id}` : "#" %>" class="h-50 d-flex justify-content-center "><img src="<%= pokemn2 ? pokemn2.image : "/images/empty.png"  %>" 
                        class="img-fluid mx-auto rounded" alt=""></a>

                <table class="table caption-top mx-auto table table-hover">
                    <caption>
                        <h1>Statistieken</h1>
                    </caption>
                    <tbody>
                        <tr">
                            <th style="text-align: start;">HP</th>
                            <td class="<%= (pokemn1 && pokemn2 && pokemn1.maxHP < pokemn2.maxHP) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.maxHP > pokemn2.maxHP) ? 'text-danger' : '' %>">
                                <%= (pokemn2 && pokemn2.maxHP !== undefined) ? pokemn2.maxHP : '???' %>
                            </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Aanval</th>
                                <td class="<%= (pokemn1 && pokemn2 && pokemn1.attack < pokemn2.attack) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.attack > pokemn2.attack) ? 'text-danger' : '' %>">
                                    <%= (pokemn2 && pokemn2.attack !== undefined) ? pokemn2.attack : '???' %>
                                </td>
                            </tr>
                            <tr>
                                <th style="text-align: start;">Verdediging</th>
                                <td class="<%= (pokemn1 && pokemn2 && pokemn1.defence < pokemn2.defence) ? 'text-success' : (pokemn1 && pokemn2 && pokemn1.defence > pokemn2.defence) ? 'text-danger' : (pokemn1 && pokemn2 && pokemn1.defence === pokemn2.defence) ? 'text-black' : '' %>">
                                    <%= (pokemn2 && pokemn2.defence !== undefined) ? pokemn2.defence : '???' %>
                                </td>                            
                            </tr>
                    </tbody>
                </table>
            </article>
        </div>
    </form>
    </main>

    <%- include("partials/aside",{myPokemonPagina: false}); %>
        <%- include("partials/footer"); %>