<%- include("partials/header",{title: "Pokemon Battle" , secondRow:true }); %>

  <!-- <script src="/js/battle.js" defer></script> -->
  <% if (req.method==='POST' && (!message)) { %>
    <script src="/js/loadHPbar.js" defer></script>
    <% } %>

      <div class="row">
        <% const currentPokemon = currentUser.pokemons[currentUser.currentPokemon]; %>

          <main class="container col-9 d-flex flex-row flex-wrap col-md-9 col-sm-12 d-grid justify-content-center">
            <div>
              <h1 class="mx-auto d-flex text-center justify-content-center">Pokémon Battle</h1>
              <!-- <form action=""></form> -->
              <% if (message) { %>
                <div class="errorMessage text-center justify-content-center"><%= message %></div>
              <% } %>
            </div>

            <section class="row justify-content-center mx-auto flex"> <!-- section Pokemon -->

              <div class="card col-md-4 m-3 pb-3 custom-class" id="ownPokemon"> <!-- size and margin of card 1 -->

                <img src="<%= currentPokemon ? currentPokemon.image : " /images/empty.png" %>" alt="Huidige Pokemon">
                <div class="card-body text-center centered-title">
                  <h5 class="card-title">
                    <%= currentPokemon ? currentPokemon.name.toUpperCase() : "Geen huidige pokemon" %>
                  </h5>
                </div>
                <div class="hp"> <!-- HP bar own Pokémon -->
                  <table class="table caption-top mx-auto table-sm table-hover">
                    <tbody>
                      <tr>
                        <th class="ps-4">HP</th>
                        <td id="HPLabel">
                          <%= currentPokemon ? currentPokemon.maxHP : "???" %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <div class="progress"> <!-- this one is necessary to display a grey outline of the total HP -->
                    <div id="hp-bar" class="progress-bar"></div>
                  </div>
                </div>
              </div>

              <div class="card col-md-4 m-3 pb-3 custom-class" id="enemyPokemon"> <!-- size and margin of card 2 -->
                <% let pokemn1 = PokemonList.find(x => x.name == pokemon1) %>
                  <img src="<%= pokemn1 ? pokemn1.image : " /images/empty.png" %>"
                  class="img-fluid mx-auto rounded" alt="Vijandige Pokemon"></a>
                  <div class="card-body text-center">

                    <form class="container form-outline mx-auto pt-5 p-sm-1 d-flex flex-row gap-2" method="post"
                      action="/pokemonBattle">
                      <input type="search" id="form1" class="form-control text-center" placeholder="Zoek Pokémon"
                        aria-label="Search" list="pokemonlist" name="name1"
                        value="<%= pokemon1 ? pokemon1.toUpperCase(): "" %>" />
                      <datalist id="pokemonlist">
                        <% PokemonList.map(x => {%><option key="index">
                            <%= x.name.charAt(0).toUpperCase() + x.name.slice(1) %>
                          </option>
                          <%}); %>
                      </datalist>
                      <button id="buttonW" type="submit" method="post" class="btn btn-primary buttonForm1"
                        formaction="/pokemonBattle"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                          fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                          <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                        </svg></button>
                    </form>

                  </div>

                  <div class="hp"> <!-- HP bar enemy Pokémon -->
                    <table class="table caption-top mx-auto table-sm table-hover">
                      <tbody>
                        <tr>
                          <th class="ps-4">HP</th>
                          <td id="HPLabelEnemy">
                            <%= pokemn1 ? pokemn1.maxHP : "???" %>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                    <div class="progress"> <!-- this one is necessary to display a grey outline of the total HP -->
                      <div id="hp-bar-enemy" class="progress-bar"></div>
                    </div>
                  </div>

              </div>
            </section>

            <section class="text-center col-md-3 col-sm-5 container mb-3 mt-3"> <!-- section fightButton -->
              <form method="post" action="/battle">
                <button class="btn" id="fightButton" type="submit" method="post" action="/battle" name="btnFight"
                  value="<%= pokemon1 ? pokemon1 : "" %>" <%=req.path==='/battle' && (!message) ? 'disabled' : ''
                  %>>
                  <input type="hidden" name="ownPokemon" value="<%= currentPokemon ? currentPokemon.id : undefined %>">
                  <img src="/images/fightbutton.png" alt="fightButton">
                </button>
              </form>
            </section>
          </main>

          <%- include("partials/aside",{myPokemonPagina: false}); %>
      </div>
      <%- include("partials/footer"); %>


        <!-- BRONNEN -->
        <!-- Fightbutton afbeelding -->
        <!-- https://assetsio.reedpopcdn.com/pokemon-go-type-chart-strength-weakness-resistance-super-effective.jpg?width=690&quality=80&format=jpg&auto=webp -->

        <!-- Versus logo -->
        <!-- https://media.istockphoto.com/id/1459545409/vector/vs-versus-icon-logo-black-white-vector-symbol-fight-competition-battle-sport-game-grunge.jpg?s=612x612&w=0&k=20&c=dJPtK0BAzoTM9hI5mNBKg-b1-063mYO3WIBOtgScB3w= -->