<%- include("partials/header",{title: "Pokemon Battle" }); %>
    <div class="row">
        <main class="container col-2">
            <section class="container d-flex justify-content-evenly">
                <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
                <%- include("partials/card",{title: "Fiffa", text: "Klik hier voor alle voetball plezier", img: "/images/fiffa.jpg", alt: "Fiffa"}) %>
            </section>
        </main>

        <%- include("partials/aside"); %>
    </div>
<%- include("partials/footer"); %>