<%- include("partials/header",{title: "whosthatpokemon", secondRow:true}); %>
<script src="/js/searchwhoisthatpokemon.js" defer></script>

<main class="container flex-column d-flex flex-wrap d-flex justify-content-center col-9 gap-4 ">
    <h1 class="text-center ">Wie is deze Pokémon ?</h1>

    <article class="mx-auto flex-column d-flex col-8  relative-position custom-class">
      <!-- Original image -->
      <img src="/images/Whoisthatpokemon.webp" class="img-fluid  rounded mb-3 col-sm-12 " alt="" >
      <% const randomPokemon = PokemonList[Math.round(Math.random() * PokemonList.length) - 1]; %>
      <!-- Image to layer on top -->
      <img src="<%= randomPokemon.image %>" class="layered-img" alt=""> 
      <div class="pt-5 d-flex gap-2">


      <form class="container form-outline mx-auto p-0 d-flex flex-row gap-1 " method="post" action="/whosthatpokemon">
          <input type="search" id="form1" class="form-control" placeholder="WIE IS DEZE POKEMON?" aria-label="Search" list="pokemonlist" name="test"/>
          <datalist id="pokemonlist">
            <% PokemonList.map(x => {%><option><%= x.name %></option><%}); %>
          </datalist>
          <input type="hidden" name="correctPokemon" value="<%= randomPokemon.name %>">
          <button id="buttonW" type="button" method="post" class="btn btn-primary buttonForm1">poging</button>
      </form>


    </div>
      
      <script defer>
        document.addEventListener('DOMContentLoaded', function() {
          const form1 = document.getElementById('form1');
      
          form1.addEventListener('keypress', function(event) {
            if (event.which === 13) { // 13 is the key code for "Enter"
              event.preventDefault();
              event.target.closest('form').submit();
            }
          });
        });
      </script>
      
      
    
</article>
</main>


<%- include("partials/aside",{myPokemonPagina: false}); %>


<%- include("partials/footer"); %>


